.nav{
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.nav__filter{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   max-width: 750px;

   &--item{
      background-color: #f5f6fa;
      padding: 7px 20px;
      border-radius: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
      transition: background-color .3s ease-in-out;

      &:hover{
         cursor: pointer;
         background-color: #353b48;
         color: white;
      }

      h4{
         font-size: 12px;
         font-weight: 600;
      }
   }

   &--active{
      background-color: #000;
      color: #fff;
   }
}
